# Binarios, Compilados y Temporales
*.tmp
*.log
*.zip
*.exe
*~
funcion_lambda_verificar_archivo
escanear_archivo
main

*.env

!.template.env

!.develop.env

.vscode/
.scannerwork/

swagger/**
!swagger/swagger.json
!swagger/swagger.yml

lastupdate.tmp
